*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --rosa:#FF9999;
    --rosa-hover:#FF8A8A;
    --rosa-claro:#FFF4F4;
    --blanco:#FFFFFF;
    --negro:#222222;
    --gris:#777777;
}

body{
    font-family:'Montserrat',sans-serif;
    background:var(--rosa-claro);
}

.dashboard{
    max-width:1000px;
    margin:auto;
    padding:30px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.header h1{
    color:var(--negro);
}

.header p{
    color:var(--gris);
}

#logoutBtn{
    width:50px;
    height:50px;

    border:none;

    border-radius:12px;

    background:var(--rosa);

    color:white;

    cursor:pointer;
}

.account-card{
    background:var(--rosa);

    color:white;

    border-radius:25px;

    padding:30px;

    margin-bottom:25px;
}

.account-card h2{
    font-size:3rem;
    margin:10px 0;
}

.account-info{
    margin-top:20px;
}

.account-info p{
    font-weight:700;
}

.actions{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-bottom:25px;
}

.actions button{
    border:none;

    background:white;

    padding:18px;

    border-radius:15px;

    font-weight:600;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.actions button i{
    color:var(--rosa);
}

.panel{
    background:white;

    border-radius:20px;

    padding:25px;

    margin-bottom:20px;
}

.panel h3{
    margin-bottom:20px;
}

.hidden{
    display:none;
}

#transferForm{
    display:flex;
    flex-direction:column;
    gap:15px;
}

#transferForm select,
#transferForm input{
    padding:15px;

    border:1px solid #ddd;

    border-radius:12px;

    outline:none;
}

#transferForm button{
    border:none;

    padding:15px;

    border-radius:12px;

    background:var(--rosa);

    color:white;

    font-weight:700;

    cursor:pointer;
}

#usersList,
#movimientos{
    list-style:none;
}

#usersList li,
#movimientos li{
    display:flex;
    justify-content:space-between;

    padding:15px 0;

    border-bottom:1px solid #eee;
}

.ingreso{
    color:green;
    font-weight:700;
}

.egreso{
    color:red;
    font-weight:700;
}

@media(max-width:768px){

    .actions{
        grid-template-columns:1fr;
    }

    .dashboard{
        padding:15px;
    }

    .account-card h2{
        font-size:2.2rem;
    }

}